# Level 2 Task 1: Table Booking and Online Delivery

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# reading a csv file
df = pd.read_csv("C:/Users/Rohit Gupta/Desktop/Cognify dataset.csv")

In [3]:
print(df.isnull().sum())

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [4]:
df['Cuisines'].fillna("not given", inplace=True)

In [5]:
print(df.isnull().sum())

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                0
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

### Determine the percentage of restaurants that offer table booking and online delivery.

In [6]:
# Counting the number of restaurants that offer table booking
table_booking_count = df['Has Table booking'].value_counts()

# Counting the number of restaurants that offer online delivery
online_delivery_count = df['Has Online delivery'].value_counts()

# Calculating the percentage of restaurants that offer table booking
table_booking_percentage = (table_booking_count / df.shape[0]) * 100

# Calculate the percentage of restaurants that offer online delivery
online_delivery_percentage = (online_delivery_count / df.shape[0]) * 100

print("Percentage of restaurants that offer table booking:")
print(table_booking_percentage)
print("\nPercentage of restaurants that offer online delivery:")
print(online_delivery_percentage)

Percentage of restaurants that offer table booking:
Has Table booking
No     87.875615
Yes    12.124385
Name: count, dtype: float64

Percentage of restaurants that offer online delivery:
Has Online delivery
No     74.337766
Yes    25.662234
Name: count, dtype: float64

### Compare the average ratings of restaurants with table booking and those without

In [7]:
# Calculate average ratings for restaurants with table booking and without
avg_rating_with_table_booking = df[df['Has Table booking'] == 'Yes']['Aggregate rating'].mean()
avg_rating_without_table_booking = df[df['Has Table booking'] == 'No']['Aggregate rating'].mean()

print("Average rating for restaurants with table booking:", avg_rating_with_table_booking)
print("Average rating for restaurants without table booking:", avg_rating_without_table_booking)

Average rating for restaurants with table booking: 3.4419689119170984
Average rating for restaurants without table booking: 2.559358989634219

### Analyze the availability of online delivery among restaurants with different price ranges

In [8]:
# Group the data by price range and calculate the percentage of restaurants offering online delivery in each group
online_delivery_percentage_by_price_range = df.groupby('Price range')['Has Online delivery'].value_counts(normalize=True).loc[:, 'Yes'] * 100

print("Percentage of restaurants offering online delivery by price range:")
print(online_delivery_percentage_by_price_range)

Percentage of restaurants offering online delivery by price range:
Price range
1    15.774077
2    41.310633
3    29.190341
4     9.044369
Name: proportion, dtype: float64

# Level 2 Task 2: Price Range Analysis

### Determine the most common price range among all the restaurants

In [9]:
price_range_counts = df['Price range'].value_counts()

# Finding the most frequent price range using mode
most_common_range = price_range_counts.mode()[0]
print("The most common price range is:", most_common_range)

The most common price range is: 586

### Calculate the average rating for each price range

In [10]:
# Calculating the average rating for each price range
avg_rating_by_price_range = df.groupby('Price range')['Aggregate rating'].mean()

print("Average rating for each price range:")
print(avg_rating_by_price_range)

Average rating for each price range:
Price range
1    1.999887
2    2.941054
3    3.683381
4    3.817918
Name: Aggregate rating, dtype: float64

### Identify the color that represents the highest average rating among different price ranges

In [11]:
import matplotlib.cm as cm

avg_rating_per_price_range = df.groupby('Price range')['Aggregate rating'].mean()

highest_rated_range = avg_rating_per_price_range.idxmax()
highest_rating = avg_rating_per_price_range.max()

# Defining a colormap
colormap = cm.get_cmap('coolwarm')

# Normalizing rating for colormap
normalized_rating = (highest_rating - avg_rating_per_price_range.min()) / (avg_rating_per_price_range.max() - avg_rating_per_price_range.min())

# Getting color based on normalized rating
color = colormap(normalized_rating)

print("Price Range with Highest Average Rating:", highest_rated_range)
print("Average Rating:", highest_rating)
print("Potential Color Representation:", color)

Price Range with Highest Average Rating: 4
Average Rating: 3.8179180887372017
Potential Color Representation: (0.705673158, 0.01555616, 0.150232812, 1.0)

C:\Users\Rohit Gupta\AppData\Local\Temp\ipykernel_4408\3276863842.py:9: MatplotlibDeprecationWarning: The get_cmap function was deprecated in Matplotlib 3.7 and will be removed two minor releases later. Use ``matplotlib.colormaps[name]`` or ``matplotlib.colormaps.get_cmap(obj)`` instead.
  colormap = cm.get_cmap('coolwarm')

# Level 2 Task 3

### Extract additional features from the existing columns, such as the length of the restaurant name or address

In [12]:
# Extracting additional features
# Extracting name length
df['Restaurant Name Length'] = df['Restaurant Name'].str.len()

# Extracting address length
df['Address Length'] = df['Address'].str.len()

# Displaying first 5 rows
print(df.head())

   Restaurant ID         Restaurant Name  Country Code              City  \
0        6317637        Le Petit Souffle           162       Makati City
1        6304287        Izakaya Kikufuji           162       Makati City
2        6300002  Heat - Edsa Shangri-La           162  Mandaluyong City
3        6318506                    Ooma           162  Mandaluyong City
4        6314302             Sambo Kojin           162  Mandaluyong City

                                             Address  \
0  Third Floor, Century City Mall, Kalayaan Avenu...
1  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2  Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3  Third Floor, Mega Fashion Hall, SM Megamall, O...
4  Third Floor, Mega Atrium, SM Megamall, Ortigas...

                                     Locality  \
0   Century City Mall, Poblacion, Makati City
1  Little Tokyo, Legaspi Village, Makati City
2  Edsa Shangri-La, Ortigas, Mandaluyong City
3      SM Megamall, Ortigas, Mandaluyong City
4      SM Megamall, Ortigas, Mandaluyong City

                                    Locality Verbose   Longitude   Latitude  \
0  Century City Mall, Poblacion, Makati City, Mak...  121.027535  14.565443
1  Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101  14.553708
2  Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831  14.581404
3  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475  14.585318
4  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508  14.584450

                           Cuisines  ...  Has Online delivery  \
0        French, Japanese, Desserts  ...                   No
1                          Japanese  ...                   No
2  Seafood, Asian, Filipino, Indian  ...                   No
3                   Japanese, Sushi  ...                   No
4                  Japanese, Korean  ...                   No

  Is delivering now Switch to order menu Price range Aggregate rating  \
0                No                   No           3              4.8
1                No                   No           3              4.5
2                No                   No           4              4.4
3                No                   No           4              4.9
4                No                   No           4              4.8

  Rating color  Rating text  Votes Restaurant Name Length Address Length
0   Dark Green    Excellent    314                     16             71
1   Dark Green    Excellent    591                     16             67
2        Green    Very Good    270                     22             56
3   Dark Green    Excellent    365                      4             70
4   Dark Green    Excellent    229                     11             64

[5 rows x 23 columns]

### Create new features like "Has Table Booking" or "Has Online Delivery" by encoding categorical variables

In [15]:
# Encoding categorical variables using get_dummies
df_encoded = pd.get_dummies(df, columns=['Has Table booking', 'Has Online delivery'])

print(df_encoded.head())

   Restaurant ID         Restaurant Name  Country Code              City  \
0        6317637        Le Petit Souffle           162       Makati City
1        6304287        Izakaya Kikufuji           162       Makati City
2        6300002  Heat - Edsa Shangri-La           162  Mandaluyong City
3        6318506                    Ooma           162  Mandaluyong City
4        6314302             Sambo Kojin           162  Mandaluyong City

                                             Address  \
0  Third Floor, Century City Mall, Kalayaan Avenu...
1  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2  Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3  Third Floor, Mega Fashion Hall, SM Megamall, O...
4  Third Floor, Mega Atrium, SM Megamall, Ortigas...

                                     Locality  \
0   Century City Mall, Poblacion, Makati City
1  Little Tokyo, Legaspi Village, Makati City
2  Edsa Shangri-La, Ortigas, Mandaluyong City
3      SM Megamall, Ortigas, Mandaluyong City
4      SM Megamall, Ortigas, Mandaluyong City

                                    Locality Verbose   Longitude   Latitude  \
0  Century City Mall, Poblacion, Makati City, Mak...  121.027535  14.565443
1  Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101  14.553708
2  Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831  14.581404
3  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475  14.585318
4  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508  14.584450

                           Cuisines  ...  Aggregate rating Rating color  \
0        French, Japanese, Desserts  ...               4.8   Dark Green
1                          Japanese  ...               4.5   Dark Green
2  Seafood, Asian, Filipino, Indian  ...               4.4        Green
3                   Japanese, Sushi  ...               4.9   Dark Green
4                  Japanese, Korean  ...               4.8   Dark Green

  Rating text Votes  Restaurant Name Length  Address Length  \
0   Excellent   314                      16              71
1   Excellent   591                      16              67
2   Very Good   270                      22              56
3   Excellent   365                       4              70
4   Excellent   229                      11              64

  Has Table booking_No Has Table booking_Yes  Has Online delivery_No  \
0                False                  True                    True
1                False                  True                    True
2                False                  True                    True
3                 True                 False                    True
4                False                  True                    True

   Has Online delivery_Yes
0                    False
1                    False
2                    False
3                    False
4                    False

[5 rows x 25 columns]